@import "../../../styles/colors.module.scss";
.imgLogoNav{
  width: 160px;
	cursor: pointer;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 14px;
}
.userProfile{
  font-weight: bold;
  font-size: 24px;
  background-color: white;
	text-transform: uppercase;
  color: black;
	min-width: 45px;
  min-height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
	margin: 0px 14px;
}
.input {
  background-color: transparent;
  color: white;
  border-color: $lightGray;
  &:focus {
    background-color: transparent;
    color: white;
    border-color: white;
    box-shadow: none;
  }

  &::placeholder {
    color: $mediumGray;
  }
}
.searchImg {
  width: 26px;
  margin: 0px 10px;
  cursor: pointer;
}